body{
    font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	font-size:14px;
	color:#363636;
	position:absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
}
h1,h2,h3,h4,h5,h6{
	font-weight:500;
}
a,button{
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	transition:all 0.3s ease;
	outline:none;
	box-shadow:none;
	text-decoration:none;
}
/* a:hover {
	color: gray !important;
} */
/* Text selection background-color */
::-moz-selection {
    background-color: #42BC7F;
    color: #fff;
}
 
::selection {
    background-color: #42BC7F;
    color: #fff;
}
::-moz-selection,
::selection {
    background-color: #42BC7F;
    color: #fff;
}
/* social */
.social-body{
	position:fixed;
	top:50%;
	left:0;
	margin-top:-80px;
	z-index:999;
}
.social-body ul li{
	display:block;
}
.social-body ul li a{
	font-size:20px;
	color:#fff;
	background:#42bc7f;
	height: 40px;
    width: 40px;
	line-height:40px;
	text-align:center;
	display:block;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.social-body ul li a:hover{
	width:50px;
}
.social-body  ul li.facebook a{
	background:#425F9C;
}
.social-body .ul li.twitter a{
	background:#1DA1F3;
}
.social-body ul li.instagram a {
	background: #E21B75;
}
.social-body ul li.pinterest a{
	background:#CB2028;
}
/* button */
a:hover{
	text-decoration:none;
}

.button .btn {
	font-weight: 500;
	font-size: 15px;
	height: 40px;
	color: #fff;
	display: inline-block;
	line-height: 40px;
	padding: 0 30px 0 30px;
}

.section{
	padding:100px 0;
}

/*section-title*/
.section-title {
	text-align: center;
}
.section-title h2 {
	color:#000;
	font-size: 44px;
	text-transform: uppercase;
	position: relative;
	font-weight: 700;
}
.section-title h2 span {
	color: #42bc7f;
}
/*breadcrumb*/
.breadcrumb{
	padding:80px 0px 0px 0px ;
	margin:0;
	background-color:#fff;
	border-top:1px solid #0000001a;
	border-bottom:1px solid #0000001a;
	background-size:cover;
	background-repeat:no-repeat;
	position:relative;
}
.breadcrumb .breadcrumb-text {
	float: right;
}
.breadcrumb .breadcrumb-text h2{
	color:#42BC7F;
	text-transform:capitalize;
	padding-bottom:10px;
	border-bottom:5px solid #42BC7F;
}
/*slicknav_menu*/
.slicknav_menu{
	display:none;
}

#scrollUp {
	bottom: 15px;
	right: 15px;
	padding: 10px 20px;
	background: #42bc7f;
	color: #fff;
	font-size: 25px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	padding: 0;
	border-radius: 100%;
}
#scrollUp:hover{
	background:#333;
}
.main {
	width: 100%;
	min-width: 1366px;
	overflow: auto;
}
/*=========================
	Header CSS
===========================*/
.header{
	background:#fff;
}
.header .navbar-collapse{
	padding:0;
	min-width: 1200px;
}
.header .header-inner {
	background: #fff;
	-webkit-box-shadow: 0px 0px 5px #000;
	-moz-box-shadow: 0px 0px 5px #000;
	box-shadow: 0px 0px 5px #000;
	z-index: 9000;
}
.header .navbar-nav {
	margin: 0;
	box-sizing: border-box;
}
.header .logo{
	padding-top:5px;
	width: 200px;
	float: left;
}
.header .navbar {
	background: none;
	box-shadow: none;
	border: none;
	margin: 0;
	min-height: 0px;
	height: 70px;
	text-align: center;
	width: 900px;
}
.header .navbar-nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.header .nav li{
	width: 150px;
	position:relative;
	box-sizing: border-box;
	justify-content: center;
}
.header .nav li:last-child{
	margin:0;
}
.header .nav li a {
	color: black;
    font-size: 14px;
    font-weight: 500;
    padding: 25px 15px;
    position: relative;
	display: inline-block;
	box-sizing: border-box;
	border-top: 2px solid #fff;
}
.header .nav .current:hover {
	color: #2dcea5;
	border-top: 2px solid #2dcea5;
	box-sizing: border-box;
	
}
.current img {
	width: 15px;
	margin-right: 10px;
	margin-bottom: 3px;
}
.border-top {
	border-top: 2px solid #2dcea5 !important;
	color: #2dcea5 !important;
}
.header .nav li .dropdown{
	background: #333;
    width: 220px;
    position: absolute;
    left: 40px;
    z-index: 99;
	opacity:0;
	visibility:hidden;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.header .nav li:hover .dropdown{
	opacity:1;
	visibility:visible;
	left: 0px;
}
.header .nav li .dropdown li{
	float:none;
	margin:0;
}
.header .nav li .dropdown li a{
	padding: 10px 15px;
    color: #fff;
    display: block;
}
.header .nav li .dropdown li i{
	float:right;
}
.header .nav li .dropdown li:hover a{
	color:#42BC7F;
}
.header .nav li .dropdown li a:before{
	display:none;
}
.header .nav li .dropdown .sub-dropdown{
	position: absolute;
    top: 0;
    left: 110%;
    width: 220px;
    background: #333;
	opacity:0;
	visibility:hidden;
	transition:all 0.4s ease;
}
.header .nav li .dropdown li:hover .sub-dropdown{
	opacity:1;
	left:100%;
	visibility:visible;
}
.header .nav li .dropdown .sub-dropdown li:hover a {
	color:#42BC7F;
}
.header .nav li .dropdown .sub-dropdown li a{
	color:#fff;
}
/* Sticky */
.header .sticky {
	position: fixed;
	width: 100%;
	top: 0;
	animation: fadeInDown 0.8s both 0s;
}
.header .login{
	background: red;
	position: absolute;
	right: -10px;
	text-align: right
}
.form-group {
	text-align: center;
}
/*=========================
	End Header CSS
===========================*/
.footer{
	padding:0;
	width: 100%;
	height: 220px;
	background: #3c3c3c;
}
.footer .footer-content {
	width: 1200px;
	height: 220px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: inherit;
	padding: 20px 0;
	box-sizing: border-box;
}
.footer-about {
	width: 560px;
	height: 100%;
	padding-right: 50px;
	box-sizing: border-box;
}
.footer-about .title{
	margin-bottom: 10px;
	font-size: 18px;
	color: #fff;
}
.footer-about .msg{
	margin-bottom: 10px;
	font-size: 13px;
	color: #818181;
	line-height: 25px;
}
.footer-contact {
	width: 30%;
	height: 100%;
}
.footer-contact p {
	line-height: 35px;
	color: #fefefe;
}
.footer-logo {
	width: 30%;
	height: 100%;
	text-align: center;
	line-height: 170px;
}
/*===========================
	End Footer CSS
============================*/
.footer-two {
	width: 100%;
	margin: 0 auto;
	height: 90px;
	background: #ffffff;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	line-height: 25px;
	color: #868585;
}