.banner {
    width: 100%;
    height: 280px;
    background: url('../img/operatebanner.png') no-repeat;
    background-size: 100% 100%;
}
.banner .keyword {
    padding: 100px 0;
    box-sizing: border-box;
    width: 840px;
    margin: 0 auto;
}
.banner .keyword .search-body {
    position: relative;
}
.banner .keyword input {
    width: 100%;
    height: 50px;
    padding: 0 50px;
    box-sizing: border-box;
    outline: none;
    border-radius:5px; 
    border: 1px solid #fff;
    font-size: 15px;
    text-align: left !important;
}
.banner .keyword input:focus {
    border: 1px solid #28c79b
}
.banner .keyword .search {
    position: absolute;
    top: 13px;
    left: 12px;
}
.banner .keyword .closes {
    position: absolute;
    top: 12px;
    right: 10px;
    z-index: 1000;
}
.result {
    width: 1200px;
    min-height: 380px;
    margin: 0 auto;
    margin-top: -50px;
    margin-bottom: 40px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    border-radius: 5px;
    box-sizing: border-box;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
}
.result .title {
    font-size: 22px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 20px; 
}
.result .content {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 20px;
    margin-top: 15px;
}
.result .content:last-child {
    border-bottom: 1px solid #fff;
    padding-bottom: 0px;
}
.result .content:hover {
    text-decoration: underline;
    text-decoration-color: #8a8a8a;
}
.result .content-title {
    padding-bottom: 10px;
    margin-top: 15px;
    font-size: 17px;
    color: #3d3d3d;
}
.result .keyword-str {
    color: #44d0ad !important;
}
.result .content-msg {
    font-size: 13px;
    color: #8a8a8a;
    line-height: 25px;
}
.no-result {
    width: 1200px;
    min-height: 380px;
    margin: 0 auto;
    margin-top: -50px;
    margin-bottom: 40px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    border-radius: 5px;
    box-sizing: border-box;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 100px;
}
.no-result .title {
    margin-top: 10px;
    color: #a2a2a2;
}