.slider{
	position:relative;
	margin: 0 auto;
	height:710px;
	z-index: 2000;
}
.slider .login{
	height: 100%;
	background-size:cover;
	background-position:center;
}
.slider .text {
	margin-top: 100px;
	position: absolute;
	right: 22%;
}
.slider .text .login-box{
	width: 390px;
	height: 370px;
	background: #cdd0d5;
	position: absolute;
	right: 0px;
	border-radius: 5px;
	opacity: 0.5;
}
.slider .text .login-body{
	width: 390px;
	height: 370px;
	position: absolute;
	padding: 22px 20px;
	box-sizing: border-box;
	right: 0;
	z-index: 1000;
}
.login-body .login-title{
	color: #fff;
	text-align: right;
	font-size: 23px;
}
.login-body .username, .password{
	width:100%;
	height: 50px;
	background: #f4f9ff;
	margin-top: 25px;
	border-radius: 5px;
}
.password p{
	display: block;
	height: 50px;
	width: 15%;
	float: left;
	text-align: center;
	line-height: 47px;
}
.username p {
	display: block;
	height: 50px;
	float: left;
	width: 15%;
	text-align: center;
	line-height: 47px;
}
.password input{
	width:85%;
	height: 47px;
	background: #f4f9ff;
	font-size: 13px;
	float: right;
	border: none;
	padding-left: 10px;
	border-radius: 5px;
}
.username {
	border: 1px solid #f4f9ff
}
.password {
	border: 1px solid #f4f9ff
}
.password input:focus{outline:none;}
.username input:focus{outline:none;}
.username input {
	width:85%;
	height: 47px;
	background: #f4f9ff;
	font-size: 13px;
	float: right;
	border: none;
	padding-left: 10px;
	border-radius: 5px;
}
.highlight {
	border: 1px solid #2ccea5;
}
.remember {
	margin-top: 20px;
}
.remember span {
	font-size: 13px;
}
.remember .forget a {
	text-decoration: underline !important;
	float: right;
	color: #000;
}
.remember .forget a:hover{
	color: #2ccea5;
}
.register {
	margin-top: 20px;
}
.register a{
	text-decoration: underline !important;
	float: left;
	color: #f5f325;
	margin-left: 30px;
	font-size: 15px;
	line-height: 60px;
}
.register button{
	float: right;
	background: #42bc7f;
    color: #fff;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    /* transition: all 0.4s ease; */
	border-radius: 0px;
	width: 200px;
	height: 60px;
    border-radius: 5px;
}
.register button:hover{
	background:#555;
	color:#fff;
}
.slider h1 {
	color: #2ccea5;
	font-size: 62px;
	font-weight: 600;
	margin: 0 0 30px;
}
.slider p{
	color:#fff;
}
.slider .button{
	margin-top:30px;
}
.slider .button .btn{
	margin-right:10px;
	background:#fff;
	color:#333;
	border-radius:0px;
}
.slider .button .btn:last-child{
	margin-right:0px;
}
.slider .button .btn i{
	margin-right:7px;
}
.slider .button .btn:hover{
	color:#fff;
	background:#42bc7f;
}
.slider .button .primary{
	background:#42bc7f;
	color:#fff;
}
.slider .button .primary:hover{
	color:#333;
	background:#fff;
}
/*=========================
	End Slider CSS
===========================*/

/*=========================
	About CSS
===========================*/
.about{
	padding-top:180px;
	padding-bottom:100px;
	background: #f4f9ff;
	margin-top: -100px;
	height: 825px;
	position: relative;
	z-index: 1000;
}
.line-title {
	height: 3px;
	width: 90px;
	margin: 0 auto;
	background: #2dcea5;
}
.about-title {
	text-align: center;
	font-size: 45px;
}
.about-detail {
	text-align: left;
	font-size: 14px;
	width: 35%;
	margin: 0 auto;
	color: #9b9b9d;
	line-height: 25px;
}
.about .about-ul {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 1200px;
	height: 360px;
	margin: 0 auto;
	padding: 50px 20px 20px 20px; 
	box-sizing: border-box;
}
.about .about-ul-item {
	width: 25%;
	margin: 10px;
}
.about .about-ul-item .item-icon {
	width: 110px;
	height: 110px;
	background-color:#fff;
	border-radius: 50%;
	margin: 0 auto;
	text-align: center;
	line-height: 110px;
}
.about .about-ul-item .item-icon img {
	width: 55px;
}
.about .about-ul-item .item-title {
	text-align: center;
	font-size: 17px;
	font-weight: 500;
	margin-top: 15px;
}
.about .about-ul-item .item-detail {
	text-align: left;
	font-size: 14px;
	color: #b0b1b3;
	width: 50%;
	margin: 10px auto;
	padding-bottom: 20px;
}
.about .about-my {
	width:1200px;
	height:210px;
	background: #fff;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: 0 auto;
	border-radius: 5px;
	padding: 25px 0px 25px 25px;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
.about .about-my .about-my-item {
	margin-right: 25px;
	width: 35%;
	padding: 20px;
	box-sizing: border-box;
}
.about .about-my .my-item-icon {
	width: 60px;
	height: 60px;
	float: left;
	border-radius:50%;
}
.about .about-my .my-item-icon img{
	width: 60px;
	height: 60px;
}
.about .about-my .my-item-detail {
	width: calc(100% - 85px);
	height:auto;
	float: left;
	margin-left: 20px;
	padding-top: 10px;
}
.about .about-my .my-item-title {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 15px;
}
.about .about-my .my-item-msg {
	font-size: 13px;
	line-height: 25px;
	color: #9a9a9a;
}
.about .single-about{
	padding-top: 80px;
}
.about .single-about p{
	margin-bottom: 25px;
	font-size:15px;
	font-weight:300;
}
.about .single-about .cv {
	z-index:99;
	margin-top: 40px;
}
.about .section-title{
	margin-top:127px;
}
.about .single-about .cv a:hover{
	background:#333;
}
.about .single-about .social{
	margin-top: 20px;
}
.about .single-about .social ul{}
.about .single-about .social li{
	display:inline-block;
	margin-right:10px;
}
.about .single-about .social li:last-child{
	margin-right:0px;
}
.about .single-about .social li a{
	text-align:center;
}
.about .single-about .social li a i {
	font-size: 20px;
	color: #fff;
	background: #42bc7f;
	font-size: 17px;
	height: 30px;
	width: 30px;
	line-height: 30px;
	border-radius: 0px;
	
}
.about .single-about .social li a:hover i{
	color:#fff;
	background:#333;
}
.about .image{
	position:relative;
}
.about .image img {
	width: 100%;
	box-shadow: 2px 2px 10px #0000002e;
}
.about .image .video-popup {
	color: #fff;
	background: rgba(66, 188, 127, 0.6);
	height: 60px;
	width: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 20px;
	border-radius: 0px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -30px;
	margin-top: -30px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	border-radius: 100%;
	padding-left: 3px;
	padding-top: 1px;
}
.about .image .video-popup:hover{
	transform:scale(1.1);
	color:#fff;
	background:#3339;
}
/*=========================
	End About CSS
===========================*/

/*=========================
	Services CSS
===========================*/
.service{
	background: #ffffff;
	width: 1200px;
	margin: 0 auto;
	padding-top:170px;
	height: 827px;
}
.service .cover-img {
	margin-top: 20px;
	float: left;
	width: 60%;
	margin-left: 40px;
}
.service .cover-img img {
	width:100%;
}
.service .service-step {
	margin-top: 20px;
	float: left;
	width: 200px;
	height: 300px;
	margin-left: 100px;
	padding-top: 60px;
}
.service .service-step-item {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-top: 40px;
	position: relative;
}
.service .service-step-yuan {
	width: 18px;
	height: 18px;
	border: 1px solid #3c3c3c;
	border-radius:50%; 
}
.active {
	border-color: #2ccea5 !important;
	color: #2ccea5 !important;
}
.service .service-step-msg {
	font-size: 16px;
	color: #3c3c3c;
	margin-left: 20px;
}
.service .xuxian {
	width: 1px;
	height: 37px;
	border: 1px dashed#d7d7d7;
	position: absolute;
	top: 22px;
	left: 8px;
}
/*=========================
	End Services CSS
===========================*/

/*=========================
	Story CSS
===========================*/

.story{
	background:#f4f9ff;
	width: 100%;
	padding-top:100px;
	height: 720px;
	box-sizing: border-box;
}
.story .story-content {
	width: 1200px;
	margin: 0 auto;
}
.story .cover-img {
	margin-top: 20px;
	float: left;
	width: 60%;
	margin-left: 40px;
}
.story .cover-img img {
	width:100%;
}
.story .story-step {
	margin-top: 20px;
	float: left;
	width: 200px;
	height: 300px;
	margin-left: 100px;
	padding-top: 60px;
}
.story .story-step-item {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-top: 40px;
	position: relative;
}
.story .story-step-yuan {
	width: 18px;
	height: 18px;
	border: 1px solid #3c3c3c;
	border-radius:50%; 
}
.story .story-step-msg {
	font-size: 16px;
	color: #3c3c3c;
	margin-left: 20px;
}
.story .xuxian {
	width: 1px;
	height: 37px;
	border: 1px dashed#d7d7d7;
	position: absolute;
	top: 22px;
	left: 8px;
}


/*=========================
	End Story CSS
===========================*/

/*=========================
	Latest Works CSS
===========================*/
.latest-works{
	height: 760px;
	width: 100%;
	background: url('../img/timg.png') no-repeat;
	background-size: 100% 100%;
	padding-top: 50px; 
}
.latest-works .section-title h2 {
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.latest-works .latest-works-content {
	width: 1100px;
	margin: 0 auto;
	background: #fff;
	height: 350px;
}
.latest-works h1 {
	font-size: 45px;
	text-align: center;
	color: #fff;
}
.latest-works-ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 1100px;
	margin-top: 40px;
	position: relative;
	height:350px;
	background: #fff;
	justify-content: space-around;
}
.latest-works-ul-item {
	height: 175px;
	width: 33.33%;
	border-bottom: 1px solid #f5f5f5;
	border-right: 1px solid #f5f5f5;
	padding: 50px;
	box-sizing: border-box;
	transition: all 0.5s ease 0s;
}
.latest-works-ul-item:hover {
	height: 175px;
	width: 33.33%;
	border: 1px solid #f5f5f5;
	border-bottom: 3px solid #2ccea5;
	transform: scale(1.2);
	background: #fff;
	padding: 20px;
	box-sizing: border-box;
}
.latest-works-ul-item:hover .icon-msg{
	display: block !important;
	color: #9a9a9a;
}
.latest-works-ul-item:hover .icon-msg{
	transform: scale(.7) !important;
}
.latest-works-ul-item:hover .icon-img{
	transform: scale(.7) !important;
}
.latest-works-ul-item:hover .icon-title{
	transform: scale(.7) !important;
	margin-top: 0px;
}
.latest-works-ul-item .icon-img {
	text-align: center;
}
.latest-works-ul-item .icon-img img {
	width: 40px;
}
.latest-works-ul-item .icon-title {
	font-size: 25px;
	text-align: center;
	margin-top: 10px;
}
.latest-works-btn {
	margin: 50px auto;
	text-align: center;
}
.latest-works-btn button {
	width: 300px;
	height: 60px;
	background: #2ccea5;
	border: none;
	color: #fff;
	font-size: 20px;
	border-radius:5px; 
	opacity: 0.8;
}
.latest-works-btn button:hover {
	opacity: 1;
}

/*=========================
	End Latest Works CSS
===========================*/

/*=========================
	Blogs CSS
===========================*/
.blog{
	background:#f4f9ff;
	height: 850px;
	padding-top: 80px;
}
.blog-ul {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: 0 auto;
	position: relative;
	width: 1200px;
	height:340px;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #dbe3ed;
}
.blog-item {
	height: 250px;
	width: 33.33%;
	border-bottom: 4px solid #f4f9ff;
	padding: 40px;
	box-sizing: border-box;
	border-radius:2px; 
	background: #fff;
	margin-right: 15px;
}
.blog-item:hover{
	height: 250px;
	width: 33.33%;
	border-bottom: 4px solid #2ccea5;
	padding: 40px;
	box-sizing: border-box;
	border-radius:2px; 
	background: #fff;
	margin-right: 15px;
}
.blog-item .icon-img {
	text-align: center;
}
.blog-item .icon-img img {
	width: 50px;
}
.blog-item .icon-title {
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
}
.blog-item .icon-msg {
	font-size: 13px;
	text-align: left;
	margin-top: 10px;
	color: #9a9a9a;
	line-height: 25px;
}
.blog h2{
	margin-top:20px;
	text-align: center;
	font-size: 22px;
}
.blog .blog-img {
	text-align: center;
	margin-top: 20px;
}
.blog .blog-img .blog-msg {
	font-size: 18px;
	line-height: 10px;
}
.blog .blog-img img{
	margin-top: 3px;
}
.blog .blog-img .blog-msg:nth-child(1) {
	margin-right: 10px;
}
.blog .blog-img .blog-msg:nth-child(3) {
	margin-left: 10px;
}

/*=========================
	End Blogs CSS
===========================*/


/*===========================
	Contact CSS
=============================*/
.contact{
	background:#fff;
	padding: 50px 0; 
}
.contact .contact-ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
	position: relative;
	width: 1200px;
	padding-top: 30px;
	box-sizing: border-box;
	justify-content:stretch
}
.contact .contact-ul .contact-ul-item {
	width: 18%;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 5px;
	border: 1px solid #f1f1f1;
}
.contact .contact-ul .contact-ul-item  img{
	width: 100%;
}
/*===========================
	End Contact CSS
=============================*/

/*===========================
	Clients CSS
============================*/
.clients {
	position: relative;
	padding: 30px 0;
	background: #f4f9ff;
}
.clients-content {
	text-align: center;
	padding: 30px;
}
.clients-content button {
	text-align: center;
	width: 300px;
	height: 50px;
	background: #2ccea5;
	font-size: 16px;
	margin-top: 20px;
	border-radius: 5px;
	color: #fff;
}
.clients img {
	padding: 35px;
	filter:grayscale(1);
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.clients img:hover{
	filter:grayscale(0);
	cursor:pointer;
}
.clients .owl-nav {
	position: absolute;
	left: 50%;
	margin-left: -45px;
	bottom: -15px;
}
#clients .owl-nav button {
	background: transparent;
	width: 30px;
	height: 30px;
	line-height:30px;
	line-height: 0;
	font-size: 20px;
	color: #bfbfbf;
	margin-right: 10px;
	border:1px solid #e5e5e5;
}
#clients .owl-nav button:hover{
	color:#42BC7F;
}
/*===========================
	End Clients CSS
============================*/

/*===========================
	Footer CSS
============================*/